
/* Div of graph */
.d3_GraphDivClass {
	position: relative;
	float: left;
}

/* The SVG */
.d3_svgElement {
	background-color: #ffffff;
	outline: solid 1px #D1D1FF;
}

/* Legend Div */
.d3_legendClass {
	position: relative;
	overflow-x: hidden;
	overflow-y: scroll;
	float: right;
	background-color: #b3b3b3;
}

/* Temperature Legend */
.d3_iconLegendTempClass {
	width: 20px;
	margin: 2px 0px 0px 5px;
	clear: both;
	float: left;
}

/* Precipitation Legend */
.d3_iconLegendPrecClass {
	width: 20px;
	margin: 1px 0px 0px 5px;
	clear: both;
	float: left;
}

/* Wind Legend */
.d3_iconLegendWindClass {
	width: 20px;
	margin: 1px 0px 0px 5px;
	clear: both;
	float: left;
}

/* Other Legend */
.d3_iconLegendOtherClass {
	width: 20px;
	margin: 1px 0px 0px 5px;
	clear: both;
	float: left;
}

/* Title of each group in Legend */
.d3_toggleClass {
	float: left;
	font-size: 12px;
}
.d3_toggleSubClass {
	clear:both;
	float: left;
	font-size: 12px;
}

/* Units in Legend */
.d3_unitLegend {
	font-size: 10px;
}

/* Keys in Legend */
.d3_keys {
	margin-left: 10px;
}

/* Checkboxes in Legend*/
.d3_keysTick {
	clear: both; 
	float:left;
}
.d3_keysSubTick {
	margin: 0px 0px 0px 20px;
}

/* Box for Text and Icon Div in Legend (Hover) */
.d3_keysBoxText {
	position:relative; 
	float:left;
}
	
/* Icons in Legend */
.d3_keysIcon {
	float: left;
	margin-left: 5px;
}

/* Text in Legend */
.d3_keysText {
	float: left;
	width: auto;
	margin-left: 5px;
	font-size: 12px;
}

/* Vertical line for the tooltip in diagram*/
.d3_hoverLineClass {
	stroke: black;
}

/* Tooltip in diagram */
.d3_tooltipClass {		
	position: absolute;
	width: 120px;
	height: auto;
	border-radius: 8px 8px 8px 8px;	
	background-color: white;
	-webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
	box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);		
	font-size: 11px;
}


.printSelectWrapperClass {
	position: relative;
	float: right;
	background-color: #b3b3b3;
	border-top: 1px solid black;
}

.d3_SelectDiagramsTextClass {
	position:relative;
	float:right;
	right: 28px;
	font-size:12px;
}

.d3_printPreviewClass {
	width: 120px;
	position:relative; 
	float:right;
	right: 30px;
}
