/***********
* Events 
************/



/* events definiert in styles.css Zeile 871 ff */
.node-event.view-mode-full .field-name-field-image-event-logo {
	margin-top: 0.5em;
}
.node-event.view-mode-full .field-name-field-place-event,
.node-event.view-mode-full .field-name-field-country-event {
	color: #999999;
	font-size: 1.6em;
	margin-bottom: 0.5em;
}
.node-event.view-mode-full .field-name-field-place-event {
	border-right: 1px solid;
	float: left; 
	padding-right: 5px;
}
.node-event.view-mode-full .field-name-field-country-event .field-item {
	padding-left: 5px;
	display: inline;
}
.node-event.view-mode-full .field-name-field-date-event {
	color: #F15A24;
	font-size: 2.6em;
	line-height: 80%;
	margin: 0.5em 0 0.2em 0;
}
.node-event.view-mode-full .field-name-field-url-event {
	background-image: url("../img/www_16.png");
  background-position: 0 3px;
  background-repeat: no-repeat;
  font-size: 80%;
  margin-top: 0.5em;
  padding-left: 20px;
}

/***************
* Zusammengefasst 
****************/
/* font definiert in styles.css Zeile 66 ff */
.node-event.view-mode-full .field-name-field-date-event,
.node-event.view-mode-full .field-name-field-place-event,
.node-event.view-mode-full .field-name-field-country-event,
.node-blog-article .field-name-post-date,
.node-blog-article .field-name-title,
#user-register-form .fieldset-legend {
	font-family: 'Pathway Gothic One', 'Open Sans Condensed', 'Arial Narrow', sans-serif;
}

.node-event.view-mode-full.ds-2col > .group-left,
.node-blog-article.view-mode-full.ds-2col > .group-left,
.node-blog-article.view-mode-teaserlist.ds-2col > .group-left,
.node-article-climatechange.view-mode-teaser.ds-2col > .group-left {
	width: 70%;
}
.node-event.view-mode-full.ds-2col > .group-right,
.node-blog-article.view-mode-full.ds-2col > .group-right,
.node-blog-article.view-mode-teaserlist.ds-2col > .group-right,
.node-article-climatechange.view-mode-teaser.ds-2col > .group-right {
	width: 25%;
	float: right;
}

.node-event blockquote,
.node-blog-article blockquote {
	color: #B3B3B3;
  font-style: italic;
  font-weight: bold;
  line-height: 150%;
  margin: 1.5em 40px;
  text-align: justify;
}

/* schon definiert in styles.css Zeile 873 ff */
.view-ClimateChange .views-row,
.view-blog .views-row {
	clear: left;
  border-bottom: 1px dotted #b3b3b3;
  padding: 10px 0;
  margin-bottom: 10px;
}
/* ersetzt styles.css Zeile 118 + 880 ff */
h2.teasertitle,
h3.teasertitle {
  margin: 0;
  }


/***************
* ClimateChange 
****************/

.view-ClimateChange .field-name-field-cc-image {
	float: left;
	padding: 10px;
}



/***************
* Blog 
****************/
.node-blog-article.view-mode-teaserlist .field-name-post-date {
	font-size: 1.1em;
}


.node-blog-article.view-mode-full .field-name-post-date {
	color: #F15A24;
	font-size: 1.8em;
}

/******************
* Login + Register
*******************/
.no-sidebars #user-register-form {
	width: 60%;
}
.no-sidebars #user-login,
.no-sidebars #user-pass {
	width: 50%;
}
#user-register-form,
#user-login,
#user-pass {
	background-color: #E6E6E6;
	border: 5px solid #B3B3B3;
  border-radius: 5px 5px 5px 5px;
  padding: 20px;
}
#user-register-form .form-item, 
#user-login .form-item,
#user-pass .form-item {
	margin: 0.5em 0;
}
#user-register-form .form-item .description,
#user-login .form-item .description {
    font-size: 70%;
}
#user-register-form input,
#user-login input,
#user-pass input {
	border: none;
	font-size: 90%;
}
#user-register-form .form-submit,
#user-login .form-submit,
#user-pass .form-submit {
	background-color: #2C4563;
  color: #C7B299;
  margin-top: 10px;
  font-size: 1.1em;
}
