/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/fixed.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

/* font imports MUST remain first in file */

/* CSS to be transfered to SASS */

/* ------------- 
COLORS
yellow	#fcce00 (252,206,0)
green	#54673c (84,103,60)
blue1	#2c4563 (44,69,99)
blue2   #566982 (86,105,130)
blue3   #405672 (64,86,114)
blue3   #78879b (102,135,155)
orange	#f15a24 (241,90,36)
beige	#c7b299 (199,179,153)
l'grey	#e6e6e6 (230,230,230)
m'grey	#b3b3b3 (179,179,179)
l'grey2 #cccccc (204,204,204)
l'grey3 #f2f2f2 (242,242,242)
black   #000000
white   #ffffff
-------------- */



body 
  {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

label,
.slideshow p,
.view-station-info,
#homebox
  {
  font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
  }

h1, h2, h3, h4,
#navigation,
input.form-submit, button,
.events .evdate, .events .evplace,
.horizontal-tab-button,
.menu li a,
#footer-columns .block-simplenews,
table.dataTable
  {
  font-family: 'Pathway Gothic One', 'Open Sans Condensed', 'Arial Narrow', sans-serif;
  }



/* +++++ Global text elements +++++ */

a {
  color: #2c4563;
  }

#footer a,
#footer-columns a {
  color: #fff;
  }

h1, h2, h3, h4,
label {
  font-weight: normal;
  }

h1 {
  clear: both;
  font-size: 3em;
  line-height: 1.2em;
  }

h1#page-title {
  margin-bottom: .75em;
  padding-top: .5em;
  }

h2 {
  font-size: 2em;
  }

h3 {
  font-size: 1.5em;
  margin: 1em 0 .5em;
  }

#main h2.block-title,
#homebox h3.dashboard-title {
  height: 48px;
  margin-bottom: .5em;
  background: url('../img/titel_background_left.png') no-repeat bottom left;
  padding: 0 0 0 23px;
  font-size: 1.5em;
  text-align: center;
  clear: left;
  color: #2c4563;
  }
#main h2.block-title span,
#homebox h3.dashboard-title span {
  display: block;
  background: url('../img/titel_background_right.png') no-repeat bottom right;
  padding: 0 23px 0 0;
  height: 48px;
  }

#homebox h3.dashboard-title {
  margin: .5em 0 0;
  height: 38px;
  }

#homebox h3.dashboard-title span {
  height: 38px;
  }

p, pre {
  margin: .5em 0;
  }

#header p,
#footer p,
#footer-wrapper p {
  margin: 0;
  }


/* +++++ Region + global container styling +++++ */

/* change zen's navbar concept to allow for header shadow */

#main {padding-top: 0em; top: 0;}
#navigation {top: -2em;}

body {
  background-color: #f1f1f1;
  }

#page {
  z-index: 1;
  }

#header {
  padding-top: 0;
  padding-left: 0;
  padding-bottom: 0 /*4em*/;
  background-color: #e6e6e6;
  z-index: 500;
 }

#navigation {
  z-index: 520;
  }

#content {
  min-height: 400px;
  background-color: #fff;
  padding-bottom: 20px;
  }

#main {
  z-index: 1;
  }

#logo {
  margin: 0 20px 10px 0;
  }

.region-highlighted {
  margin-left: -10px;
  z-index: 2;
  }

#navigation {
  margin: 10px 30px;
  }

.box-default {
  background-color: #cccccc;
  }

.box-contrast {
  background-color: #2c4563;
  }

#header,
#homebox .homebox-portlet,
.box-default,
.box-contrast {
  -moz-box-shadow: 1px 3px 5px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,.3);
  box-shadow: 1px 3px 5px 1px rgba(0,0,0,.3);
  }

html body.admin-menu {
  margin-top: 40px !important;
  }

  
/* +++ header blocks styling +++ */
  
#region_user {
  clear: both;
  float: right;
  }

#utilities {
  float:right;
  }

#utilities .block {
  float: right;
  margin-left: 20px;
  margin-bottom: 10px;
  }

#block-search-form {
  margin-right: 10px;
  clear: right;
  }
  
#block-user-login {
  margin-right: 8px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: right;
  }
  
#block-system-user-menu {
  margin-bottom: 10px;
  }

#header .form-item {
  margin: 0 0 5px;
  }
  
/* CHECK */
#block-user-login .item-list {
  display: none;
  }

#block-user-login .form-item {
  display: inline;
  margin-right: 10px; 
  }

#block-user-login input.form-text {
  width: 8em;
  }

#block-user-login .form-actions {
  float: right;
  }




/* +++ footer styling +++ */

#footer-columns {
  position: relative;
  top: -12px;
  padding-top: 5px;
  }

#footer-columns .region {
  float: left;
  width: 25%;
  max-width: 100%;
  border-left: 1px dashed #fff;
  }

#footer-columns .block {
  background: #2c4563;
  color: #fff;
  margin: 10px 10px 10px;
  }
#footer-columns .region-footer-thirdcolumn .block {
  background-color: transparent;
  }

#footer-columns .region-footer-firstcolumn {
  width: 55%;
  border-left: 0 none;
  }
#footer-columns .region-footer-secondcolumn {
  width: 19%;
  }
#footer-columns .region-footer-thirdcolumn {
  width: 20%;
  }

#footer-columns:last-child {
  background: url(../img/footer_background.png) no-repeat right top;
  }

#footer-columns h3 {
  color: #c7b299;
  margin: .5em 0 .15em;
  font-size: 1.25em;
  }
#footer-columns h3:first-child {
  margin-top: 0;
  }

#footer-wrapper #footer-columns .menu {
  margin-left: -.25em;
  }

#footer-columns p {
  margin: 0;
  font-size: .75em;
  }

.stakeholder {
  white-space: nowrap;
  font-size: .75em;
  }
.stakeholder .views-row {
  display: table-cell;
  width: auto;
  vertical-align: top;
  margin: 0;
  padding: 0;
  }
.stakeholder .logoimg {
  line-height: 100%;
  }

.contactdata {
  line-height: 125%;
  }

.contactdata.mail {
  background: url('../img/icon_email_weiss.png') no-repeat 0;
  padding-left: 20px;
  }

.contactdata.phone {
  background: url('../img/icon_phone_weiss.png') no-repeat 0;
  padding-left: 20px;
  }

.contactdata.postal {
  background: url('../img/icon_home_weiss.png') no-repeat 0px 4px;
  padding-left: 20px;
  }

.contactdata a {
  text-decoration: none;
  }
.contactdata a:focus,
.contactdata a:hover,
.contactdata a:active {
  text-decoration: underline;
  }

#footer-columns .block-simplenews p {
  font-size: 1.2em;
  }

.block-simplenews input {
  margin-top: .5em;
  }

.block-simplenews .form-item {
  margin: 5px 0;
  }

.block-simplenews .compact-form-label {
  top: 8px;
  }

.block-simplenews .compact-form input.form-text {
  }


/* +++++ homebox overrides +++++ */

#homebox .homebox-column {
  margin: 0;
  padding: 0;
  }

#homebox .homebox-portlet,
#homebox .homebox-portlet .homebox-portlet-inner {
  border-width: 0;
  margin: 0;
  }

#homebox .homebox-portlet .portlet-header {
  background: #566982;
  border: 0 none;
  color: #777777;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  }

#homebox .portlet-icon {
  background-color: #fcce00;
  }

#homebox .portlet-content {
  padding: 0;
  }

#homebox .portlet-content > div:first-child,
#homebox .portlet-content > form {
  padding: 4px;
  }

#homebox .homebox-portlet {
  background-color: transparent;
  }

#homebox #homebox-block-ccis_stationinfo,
#homebox #homebox-block-ccis_stationinfo_2,
#homebox #homebox-block-ccis_filter {
  background-color: #2c4563;
  color: #f1f1f1;
  }

#homebox #homebox-block-ccis_d3,
#homebox #homebox-block-ccis_d3_2,
#homebox #homebox-block-ccis_datatables {
  background: #e6e6e6;
  }

#homebox-column-wrapper-3 {
  clear: both;
  }


/* +++++ Navigation + menus +++++ */

/* ++ main menu ++ */

#navigation {
  width: auto;
  height: auto;
  margin: 0;
  padding: .5em 0 .5em 10px;
  font-size: 1.5em;
  line-height: 1em;
  }

#navigation li a {
  padding: .25em 5px;
  border-bottom: 4px solid transparent;
  color: #000;
  text-decoration: none;
  }

#navigation a:hover,
#havigation a:active {
  background-color: #b3b3b3;
  }

#navigation li.active a {
  border-color: #fcce00;
  background-color: #b3b3b3;
  color: #54663c;
  }

/* ++ other menus ++ */

#header .menu,
#footer-wrapper .menu {
  list-style: none;
  margin: 0;
  padding: 0;
  }

#header .menu li,
#footer-wrapper .menu li {
  display: inline-block;
  }

#header .menu a,
#footer-wrapper .menu a {
  font-size: 1.25em;
  text-decoration: none;
  padding: 2px .25em;
  }

#header .menu a {
  color: ;
  }
#header .menu a:focus,
#header .menu a:hover,
#header .menu a:active {
  color: ;
  background-color: ;
  }
#footer-wrapper .menu a {
  color: #c7b299;
  }
#footer-wrapper .menu a:focus,
#footer-wrapper .menu a:hover,
#footer-wrapper .menu a:active {
  color: 2c4563;
  background-color: #c7b299;
  }



/* +++++ Form elements +++++ */

button, input,
select,
textarea {
  border: 0 none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 6px;
  padding: 4px 8px;
  }

#content button, #content input,
#content select,
#content textarea {
  border: 1px solid #2c4563;
  }

button, input.form-submit {
  font-size: 1.2em;
  }

.compact-form-label {
  color: #2c4563;
  }

/* throbber tweaks */
html.js input.form-autocomplete {
  background-image: url(../img/throbber_cli.gif);
  background-position: 100% 0px;
  background-repeat: no-repeat;
  }
html.js input.throbbing {
  background-position: 100% -50px;
  }

.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  }
.ajax-progress .throbber {
  background: transparent url(../img/throbber_cli.gif) no-repeat 0px 9px;
  height: 20px;
  width: 20px;
  margin: 2px;
  }

/* date from-to tweaks */

.container-inline-date {
  position: relative;
  }

.container-inline-date .form-item .form-item {
  float: left;
  width: auto;
  width: 9em;
  }

.container-inline-date .form-type-textfield label {
  width: auto;
  float: left;
  }
.container-inline-date .form-type-date-popup label {
  float: left;
  width: auto;
  margin-bottom: .75em;
  }

.container-inline-date .date-padding {
  float: left;
  padding: 0 5px;
  }

.container-inline-date input.form-text {
  position: absolute;
  left: 4em;
  width: 7em;
  }

.container-inline-date .form-item .description {
  line-height: 120%;
  position: relative;
  }
.container-inline-date .form-item-start-date .description {
  left: 3em;
  }
.container-inline-date .form-item-end-date .description {
  left: 4em;
  }

/*
input:focus,
textarea:focus {
  box-shadow: inset 2px 2px 3px rgba(0,0,0,.3);
  }
*/



/* +++++ Header styling  +++++ */

/* search */

#search-block-form {
  
  }

#search-block-form .form-text {
  background: url(../img/lupe.png) no-repeat right center;
  background-color: transparent;
  }

#search-block-form input.form-text:focus,
#search-block-form input.form-text:hover,
#search-block-form input.form-text:active {
  background-color: #fff;
  }

#search-block-form .form-submit {
  position: absolute;
  left: -10000px;
  }




/* social media block */

#socmed {
  float: right;
  clear: right;
  }

#socmed a {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 10px 0 0px;
  background-image: url(../img/sprites_social.png);
  background-repeat: no-repeat
  background-position: -13px -13px;
  }
#socmed span {
  padding-left: 26px;
  }
#socmed .fb {
  background-position: -13px -13px;
  }
#socmed .gp {
  background-position: -13px -63px;
  }
#socmed .rs {
  background-position: -13px -113px;
  }
#socmed .yt {
  background-position: -13px -163px;
  }
#socmed .li {
  background-position: -13px -213px;
  }
#socmed .xi {
  background-position: -13px -263px;
  }
#socmed .tw {
  background-position: -13px -313px;
  }



/* +++++ Various  +++++ */

/* front page (maybe make more general?) */

.front #main .block {
  width: 33%;
  float: left;
  }
.front #main .block-inner {
  padding: 10px 20px 25px;
  }



/* +++++ Slideshow +++++ */

.region-highlighted {
  height: 245px;
  position: relative;
  }

#block-views-slideshow-block {
  position: absolute;
  z-index: 1;
  }

/* reset .block-inner paddings */
.front #main #block-views-slideshow-block .block-inner {
  padding: 0;
  }

.slideshow {
  }

.front .view-slideshow {
  width: 960px;
  height: 245px;
  overflow: hidden;
  }

.views-slideshow-xtra-overlay-row {
  width: 33%;
  height: 225px;
  background-color: rgba(255,255,255,.5);
  padding: 10px 10px 40px;
  color: #444;
  z-index: 10;
  }

.slideshow h2 {
  margin: .5em 0 0;
  line-height: 1em;
  }
.slideshow h2 a {
  margin-left: -10px;
  padding: 0 30px 10px 10px;
  color: #444;
  text-decoration: none;
  display: inline-block;
  background: url('../img/stroke.png') repeat-x right bottom;
  }

.slideshow p {
  font-size: 1.2em;
  margin: 0 0 .5em;
  }

.slideshow p.slshlink {
  margin-top: -0.5em;
  text-align: right;
  }
.slshlink a {
  text-decoration: none;
  }

.slideshow .widget_pager {
  width: 33%;
  height: 30px;
  position: relative;
  top: -45px;
  z-index: 200;
  margin: 0;
  text-align: center;
  }

.views-slideshow-pager-field-item {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 2px 3px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #2c4563;
  z-index: 30;
  color: transparent;
  font-size: 5px;
  line-height: 1px;
  }
.views_slideshow_active_pager_field_item {
  background-color: #f15a24;
  }

/* front page (maybe make more general?) */

.front #main .block {
  width: 33%;
  float: left;
  }
.front #main .block-inner {
  padding: 10px 10px 25px;
  }

/* events */

.events .views-row {
  clear: left;
  border-bottom: 1px dotted #b3b3b3;
  padding: 10px 0;
  margin-bottom: 10px;
  }

.evlogo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 5px;
  background: #fff;
  }

.evdatebox {
  float: left;
  width: auto;
  }

.evdate {
  width: 100px;
  margin-left: 0px;
  line-height: 100%;
  text-align: center;
  }
.evdate.month {
  font-size: 1.25em;
  }
.evdate.day {
  font-size: 5.625em;
  line-height: 80%;
  color: #f15a24;
  }
.evdate.year {
  font-size: 2.625em;
  }

.front .teaser .evdatebox {
  width: ;
  }

.evplace {
  display: block;
  font-size: 1.25em;
  margin: 0 0 0 0px;
  color: #999999;
  }

.front .teaser .evplace {
  float: left;
  position: relative;
  top: -2px;
  width: 80px;
  margin: 0 0 0 5px;
  }

.evbody {
  margin-left: 220px;
  position: relative;
  top: -2px;
  }


/* +++++ dashboard +++++ */

.page-dashboard #content {
  padding: 0; 
  background-color: transparent;
  }

#homebox {
  font-size: 16px;
  }

#homebox h2 {
  margin: 0;
  line-height: 100%;
  font-size: 1.25em;
  }

#homebox .description {
  margin: 2px 0 0;
  color: rgba(255,255,255,.6);
  font-size: .75em;
  line-height: 100%;
  }

#homebox .message {
  white-space: nowrap;
  }

#homebox .form-item {
  margin: .5em 0;
  }



/* ++ data table ++ */

#ccis-weather-datatable-block {
  background-color: #e6e6e6;
  }

.dataTables_wrapper {
  margin-bottom: 20px;
  clear: none;
  }

#ccis-weather-datatable-block .description {
  color: #c7b299;
  }

.dataTables_empty {
  padding: 1em 0;
  }

table {
  width: 100%;
  clear: both;
  }

#ccis-weather-datatable-block .ccis-datatable-station-number {
  /*float: none;*/
  }

#ccis-weather-datatable-block table {
  margin-bottom: .25em;
  font-size: 1.25em;
  width: 100%;
  }

#ccis-weather-datatable-block caption {
  text-align: left;
  color: #c7b299;
  font-size: 1em;
  }

th {
  color: #2c4563;
  font-weight: normal;
  }
  
form th {
  border: 0 none;
  }

tbody tr.even, 
tbody tr.odd {
  background-color: #f2f2f2;
  border-bottom: 0 none;
  }

tbody tr.odd {
  background-color: #cccccc;
  }

tbody td {
  border-left: 1px solid #fff;
  text-align: center;
  }
tbody td:first-child {
  border-left-width: 0;
  }

tr.even td.sorting_1,
tr.odd td.sorting_1 {
  background-color: transparent;
  }

.dataTables_info {
  float: none;
  width: auto;
  }


/* ++ station info ++ */

.view-station-info header,
.view-station-info header a {
  color: #fff;
  }

.view-station-info h3,
.view-station-info h3 a {
  color: #fcce00;
  text-align: center;
  }

.view-station-info h3 {
  margin: .5em 0 .25em;
  font-size: 1em;
  }

.view-station-info .horizontal-tabs .ul-horizontal-tabs-list * {
  margin: 0;
  padding: 0;
  }

.view-station-info fieldset.horizontal-tabs-pane {
  margin: 0;
  padding: 0;
  }

.view-station-info .field {
  line-height: 100%;
  }

.view-station-info .horizontal-tabs,
.view-station-info .horizontal-tabs ul.horizontal-tabs-list, 
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li, 
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li a, 
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  background-color: transparent;
  border: 0 none;
  color: #fff;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.selected strong {
  color: #fcce00;
  }
.view-station-info .horizontal-tabs strong {
  font-weight: normal;
  }

.view-station-info .horizontal-tabs ul.horizontal-tabs-list li {
  width: 25%;
  height: 30px;
  min-width: 50px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid transparent;
  }

.view-station-info .horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button a { 
  height: 100%;
  padding: 2px 0 2px 100px;
  background-color: rgba(255,255,255,.2);
  background-image: url(../img/sprites_tab_icons.png);
  background-repeat: no-repeat;
  background-position: 3px -6px;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button.selected a { 
  background-color: rgba(255,255,255,0);
  }

.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-0 a {
  background-position: 3px -6px;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-0.selected a {
  background-position: 3px -56px;
  }

.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-1 a {
  background-position: 3px -110px;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-1.selected a {
  background-position: 3px -160px;
  }

.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-2 a {
  background-position: 3px -310px;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-2.selected a {
  background-position: 3px -360px;
  }

.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-3 a {
  background-position: 3px -210px;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button-3.selected a {
  background-position: 3px -260px;
  }

.view-station-info fieldset .fieldset-wrapper,
.view-station-info .field-group-format-wrapper {
  display: table !important; /* important overrides inline style */
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  }
/* + restore collapsibility + */
.view-station-info .collapsed .field-group-format-wrapper {
  display: none !important;
  }

.view-station-info .field {
  display: table-row;
  width: 100%;
  min-height: 1em;
  margin: 0;
  padding: 0;
  }
.view-station-info .field.clearfix {
  width: 100%;
  }
.view-station-info .field.clearfix:after {
  display: none;
  }
.view-station-info .field .field-label,
.view-station-info .field .field-items,
.view-station-info .field-label-above div {
  display: table-cell;
  min-height: 1em;
  margin: 0;
  padding: 4px 1%;
  font-weight: normal;
  }

.view-station-info .field-label-above .field-label,
.view-station-info .field-label-above .field-items {
  display: table-row;
  }
.view-station-info .field-label-above .field-label {
  min-height: 1.25em;
  left: 1%;
  }

.view-station-info .field-label-inline .field-label {
  width: 44%;
  }

.view-station-info .field-label-inline .field-items {
  width: 52%;
  }

.view-station-info .field:nth-child(even) {
  background-color: rgba(255,255,255,.2);
  }

.view-station-info .field-item img {
  width: 100%;
  max-width: 100%;
  height: auto;
  }

/* + station info maximized + */

#homebox .portlet-maximized h2 {
  font-size: 2em;
  }

.portlet-maximized .view-station-info .field.field-name-field-wmocode, 
.portlet-maximized .view-station-info .field.field-name-field-stationcode {
  width: 70px;
  font-size: 1em;
  }
.portlet-maximized .view-station-info .field.field-name-field-wmocode {
  right: 76px;
  }

.portlet-maximized .view-station-info .horizontal-tabs-panes {
  width: 100%;
  }

.portlet-maximized .view-station-info fieldset.horizontal-tabs-pane {
  width: 25%;
  float: left;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px 4px;
  border: 1px solid #78879b;
  border-width: 0 1px;
  margin-left: -1px;
  }

.portlet-maximized .view-station-info fieldset.horizontal-tabs-pane:first-child {
  border-left-width: 0;
  margin-left: 1px;
  }
.portlet-maximized .view-station-info fieldset.horizontal-tabs-pane:last-child {
  border-right-width: 0;
  margin-right: 0px;
  }

.portlet-maximized .view-station-info fieldset.horizontal-tab-hidden {
  position: relative;
  top: 0;
  }

.portlet-maximized .view-station-info fieldset.horizontal-tabs-pane .element-invisible {
  width: auto;
  height: auto;
  position: relative;
  clip: auto;
  overflow: visible;
  }

.portlet-maximized .view-station-info .horizontal-tabs ul.horizontal-tabs-list li strong {
  color: #fcce00;
  }

.portlet-maximized .view-station-info .horizontal-tabs ul.horizontal-tabs-list .horizontal-tab-button.selected a {
  background-color: rgba(255,255,255,.2);
  }

/* ++ station filter ++ */

#ccis-block-filter-form {
  }

#ccis-block-filter-form fieldset {
  margin: 0 0 .5em;
  padding: 0;
  border: 1px dashed #fff;
  border-width: 0 0 1px;
  }

#edit-station-input .form-item {
  margin: .25em 0;
  }

#edit-station-input .field-prefix,
.ccis-datatable-station-number,
#ccis-station-search-result th.col {
  display: block;
  float: left;
  width: 16px;
  height: 19px;
  padding: 4px;
  text-align: center;
  background-color: #fff;
  color: #2c4563;
  font-size: 1.2em;
  line-height: 100%;
  font-weight: bold;
  }

#edit-station-input .form-autocomplete {
  width: 190px;
  border: 0 none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 4px;
  padding: 2px 8px;
  line-height: 100%;
  }

#edit-filter .form-item-searchterm label,
#edit-filter .form-type-select label {
  width: 65px;
  float: left;
  }

#edit-filter .description {
  line-height: 120%;
  padding-left: 65px;
  }

#edit-filter .form-item-searchterm input {
  width: 150px;
  }

#edit-filter .container-inline-date {
  margin: .5em 0;
  }
/*
#edit-filter .container-inline-date:nth-child(odd) {
  margin: .5em 0 0;
  }
#edit-filter .container-inline-date:nth-child(even) {
  margin: 0 0 1em;
  }
*/

#edit-filter .container-inline-date .form-item .description {
  padding-left: 0;
  margin-bottom: 0;
  }

#edit-filter .container-inline-date .form-item {
  margin: 0;
  }


/* ++ filter search results ++ */

#ccis-station-search-result table {
  background-color: #566982;
  border: 0 none;
  }
  
#ccis-station-search-result tr.odd,
#ccis-station-search-result tr.even {
  background-color: #78879b;
  }
#ccis-station-search-result tr.even {
  background-color: #566982;
  }
  
#ccis-station-search-result th,
#ccis-station-search-result td {
  color: #ffffff;
  border: 0 none;
  text-align: left;
  }

#ccis-station-search-result th {
  color: #fcce00;
  }

#ccis-station-search-result .form-type-radio {
  text-align: center;
  width: 2em;
  margin: 4px 0;
  }

#ccis-station-search-result th.col {
  float: none;
  display: table-cell;
  font-size: 1em;
  }
#ccis-station-search-result th.col-2 {
  border-right: 1px solid #566982;
  }


/* ++ station top info ++ */

.view-station-info .field.field-name-title,
.view-station-info .field.field-name-title .field-items,
.view-station-info .field.field-name-field-wmo-code,
.view-station-info .field.field-name-field-wmocode .field-items,
.view-station-info .field.field-name-field-wmocode .field-label,
.view-station-info .field.field-name-field-stationcode,
.view-station-info .field.field-name-field-stationcode .field-items, 
.view-station-info .field.field-name-field-stationcode .field-label {
  display: block;
  background-color: transparent;
  }

.view-station-info .field.field-name-field-wmocode,
.view-station-info .field.field-name-field-stationcode {
  position: absolute; top: 0; left: auto; right: 0;
  width: 50px;
  padding: 0px 3px;
  background-color: rgba(255,255,255,.2);
  font-size: .75em;
  text-align: center;
  }
.view-station-info .field.field-name-field-wmocode {
  right: 56px;
  }

.view-station-info .field.field-name-field-wmocode .field-label,
.view-station-info .field.field-name-field-stationcode .field-label,
.view-station-info .field.field-name-field-wmocode .field-items,
.view-station-info .field.field-name-field-stationcode .field-items {
  float: none;
  width: 100%;
  padding: 0;
  }

.view-station-info .field.field-name-title {
  margin-right: 112px;
  min-height: 2em;
  }

.view-station-info .field.field-name-title .field-items {
  width: 100%;
  }



/* ++++++++++ Climability-specific ++++++++++ */

/* +++ hide certain page titles +++ */

.page-dashboard #page-title,
.front #page-title 
  {
  display: none;
  }


#footer-wrapper .stakeholder .views-row-3 p {
  margin-left: 2.8em;
  }
