/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/fixed.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

/* font imports MUST remain first in file */

/* CSS to be transfered to SASS */

/* ------------- 
COLORS
yellow	#fcce00 (252,206,0)
green	#54673c (84,103,60)
blue	#2c4563 (44,69,99)
orange	#f15a24 (241,90,36)
beige	#c7b299 (199,179,153)
l'grey	#e6e6e6 (230,230,230)
m'grey	#b3b3b3 (179,179,179)

-------------- */



body 
  {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }
h1, h2, h3, h4,
#navigation,
input.form-submit, button,
.events.teaser,
.horizontal-tab-button
  {
  font-family: 'Pathway Gothic One', 'Open Sans Condensed', 'Arial Narrow', sans-serif;
  }
label,
.slideshow p,
.view-station-info fieldset,
#homebox .view-empty,
#ccis-weather-datatable-block
  {
  font-family: 'Open Sans Condensed', 'Arial Narrow', sans-serif;
  }



/* +++++ Global text elements +++++ */

a {
  color: #2c4563;
  }

#footer a,
#footer-columns a {
  color: #fff;
  }

h1, h2, h3, h4,
label {
  font-weight: normal;
  }

h1 {
  clear: both;
  font-size: 3em;
  }

h2 {
  font-size: 2em;
  }

h3 {
  font-size: 1.5em;
  }

#main h2.block-title {
  height: 48px;
  background: url('../img/titel_background_left.png') no-repeat bottom left;
  padding: 0 0 0 23px;
  font-size: 1.5em;
  text-align: center;
  clear: left;
  color: #2c4563;
  }
#main h2.block-title span {
  display: block;
  background: url('../img/titel_background_right.png') no-repeat bottom right;
  padding: 0px 25px 0px 0;
  }

p, pre {
  margin: .5em 0;
  }

#header p,
#footer p,
#footer-wrapper p {
  margin: 0;
  }


/* +++++ Region + global container styling +++++ */

/* change zen's navbar concept to allow for header shadow */

#main {padding-top: 0em; top: 0;}
#navigation {top: -2em;}

body {
  background-color: #f1f1f1;
  }

#page {
  background-color: #fff;
  z-index: 1;
  }

#header {
  padding-top: 10px;
  padding-bottom: 4em;
  background-color: #e6e6e6;
  z-index: 500;
 }

#navigation {
  z-index: 520;
  }

#main {
  z-index: 1;
  }

#logo {
  margin: 0 20px 10px 0;
  }

.region-highlighted {
  margin-left: -10px;
  z-index: 2;
  }

#navigation {
  margin: 10px 30px;
  }

.box-default {
  background-color: #cccccc;
  }

.box-contrast {
  background-color: #2c4563;
  }

#header,
#homebox .homebox-portlet,
.box-default,
.box-contrast {
  -moz-box-shadow: 1px 3px 5px 1px rgba(0,0,0,.3);
  -webkit-box-shadow: 1px 3px 5px 1px rgba(0,0,0,.3);
  box-shadow: 1px 3px 5px 1px rgba(0,0,0,.3);
  }

#utilities .block {
  float: right;
  margin-left: 20px;
  }

html body.admin-menu {
  margin-top: 40px !important;
  }

#footer-colums .region {
  width: 25%;
  max-width: 100%;
  }

#footer-columns .block,
#footer .block {
  background: #2c4563;
  color: #fff;
  margin: 0;
  padding: 10px 20px;
  border-right: 1px dashed #fff;
  float: left;
  }
#footer-columns:last-child {
  border-right: 0 none;
  }

#footer p,
#footer ul {
  margin: 0;
  }

.stakeholder.first {
  width: 300px;
  }
stakeholder.second {
  width: 80px;
  }
stakeholder.last {
  width: 120px;
  padding-right: 5%;
  }

/* homebox overrides */

#homebox .homebox-column {
  padding: 0;
  }

#homebox .homebox-portlet,
#homebox .homebox-portlet .homebox-portlet-inner {
  border-width: 0;
  margin: 0;
  }

#homebox .homebox-portlet .portlet-header {
  background: #566982;
  border: 0 none;
  color: #777777;
  box-shadow: 2px 2px 2px rgba(0,0,0,.3);
  }


#homebox .portlet-icon {
  background-color: #fcce00;
  }

/* not sustainable */
#homebox .homebox-column-wrapper-1 .homebox-portlet-inner {
  background-color: #2c4563;
  color: #f1f1f1;
  }

#homebox-block-ccis_stationinfo .portlet-inner,
#homebox-block-ccis_stationinfo_2 .portlet-inner,
#homebox-block-ccis_filter .portlet-inner {
  background-color: 2c4563;
  color: #f1f1f1;
  }



/* +++++ Navigation + menus +++++ */

#navigation {
  width: auto;
  height: auto;
  margin: 0;
  padding: .5em 0 .5em 10px;
  font-size: 1.5em;
  line-height: 1em;
  }

#navigation li a {
  padding: .25em 5px;
  border-bottom: 4px solid transparent;
  color: #000;
  text-decoration: none;
  }

#navigation a:hover,
#havigation a:active {
  background-color: #b3b3b3;
  }

#navigation li.active a {
  border-color: #fcce00;
  background-color: #b3b3b3;
  color: #54663c;
  }



/* +++++ Form elements +++++ */

button, input,
select,
textarea {
  border: 0 none;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 6px;
  padding: 4px 8px;
  }

#content button, #content input,
#content select,
#content textarea {
  border: 1px solid #2c4563;
  }

button, input.form-submit {
  font-size: 1.2em;
  }

.compact-form-label {
  color: #2c4563;
  }

/* throbber tweaks */
html.js input.form-autocomplete {
  background-image: url(../img/throbber_cli.gif);
  background-position: 100% 0px;
  background-repeat: no-repeat;
  }
html.js input.throbbing {
  background-position: 100% -50px;
  }

.ajax-progress {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  }
.ajax-progress .throbber {
  background: transparent url(../img/throbber_cli.gif) no-repeat 0px 9px;
  height: 20px;
  width: 20px;
  margin: 2px;
  }

/* date from-to tweaks */

.container-inline-date .form-item label {
  width: 30px;
  float: left;
  }

.container-inline-date .date-padding {
  padding: 0 5px;
  }

.container-inline-date input.form-text {
  width: 100px;
  }

.container-inline-date .form-item .description {
  line-height: 120%;
  padding-left: 30px;
  }

/*
input:focus,
textarea:focus {
  box-shadow: inset 2px 2px 3px rgba(0,0,0,.3);
  }
*/



/* +++++ Header styling  +++++ */

/* search */

#search-block-form {
  
  }

#search-block-form .form-text {
  background: url(../img/lupe.png) no-repeat right center;
  background-color: transparent;
  }

#search-block-form input.form-text:focus,
#search-block-form input.form-text:hover,
#search-block-form input.form-text:active {
  background-color: #fff;
  }

#search-block-form .form-submit {
  position: absolute;
  left: -10000px;
  }




/* social media block */

#socmed {
  float: right;
  clear: right;
  }

#socmed a {
  display: block;
  float: left;
  width: 22px;
  height: 22px;
  overflow: hidden;
  margin: 0 10px 0 0px;
  background-image: url(../img/social.png);
  background-repeat: no-repeat
  background-position: left center;
  }
#socmed span {
  padding-left: 26px;
  }
#socmed .fb {
  background-image: url(../img/facebook.png);
  }
#socmed .tw {
  background-image: url(../img/twitter.png);
  }
#socmed .gp {
  background-image: url(../img/googleplus.png);
  }
#socmed .yt {
  background-image: url(../img/youtube.png);
  }
#socmed .li {
  background-image: url(../img/linkedin.png);
  }
#socmed .di {
  background-image: url(../img/diaspora.png);
  }



/* +++++ Various  +++++ */

/* front page (maybe make more general?) */

.front #main .block {
  width: 33%;
  float: left;
  }
.front #main .block-inner {
  padding: 10px 20px 25px;
  }



/* +++++ Slideshow +++++ */

/* reset .block-inner paddings */

.front #main #block-views-slideshow-block .block-inner {
  padding: 0;
  }

.slideshow {
  z-index: 5;
  }

.front .view-slideshow {
  width: 960px;
  height: 245px;
  overflow: hidden;
  }

.views-slideshow-xtra-overlay-row {
  width: 33%;
  height: 225px;
  background-color: rgba(255,255,255,.5);
  padding: 10px 10px 40px;
  color: #444;
  z-index: 10;
  }

.slideshow h2 {
  margin: .5em 0 0;
  line-height: 1em;
  }
.slideshow h2 a {
  margin-left: -10px;
  padding: 0 30px 10px 10px;
  color: #444;
  text-decoration: none;
  display: inline-block;
  background: url('../img/stroke.png') repeat-x right bottom;
  }

.slideshow p {
  font-size: 1.2em;
  margin: 0 0 .5em;
  }

.slideshow p.slshlink {
  margin-top: -0.5em;
  text-align: right;
  }
.slshlink a {
  text-decoration: none;
  }

.slideshow .widget_pager {
  width: 33%;
  height: 30px;
  position: relative;
  top: -45px;
  z-index: 200;
  margin: 0;
  text-align: center;
  }

.views-slideshow-pager-field-item {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 2px 3px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #2c4563;
  z-index: 30;
  color: transparent;
  font-size: 5px;
  line-height: 1px;
  }
.views_slideshow_active_pager_field_item {
  background-color: #f15a24;
  }

/* front page (maybe make more general?) */

.front #main .block {
  width: 33%;
  float: left;
  }
.front #main .block-inner {
  padding: 10px 10px 25px;
  }

/* events */

.events.teaser .views-row {
  clear: left;
  border-bottom: 1px dotted #b3b3b3;
  padding: 10px 0;
  margin-bottom: 10px;
  }

.evlogo {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 5px;
  background: #fff;
  }

.evdate {
  width: 100px;
  margin-left: 105px; /* evlogo width + evlogo margin-right */
  line-height: 100%;
  text-align: center;
  }
.evdate.month {
  font-size: 1.25em;
  }
.evdate.day {
  font-size: 5.625em;
  line-height: 80%;
  color: #f15a24;
  }
.evdate.year {
  font-size: 2.625em;
  }

.evplace {
  display: block;
  float: right;
  width: 80px;
  font-size: 1.25em;
  margin: 0 0 0 0px;
  color: #999999;
  }


/* +++++ dashboard +++++ */

#homebox .homebox-column-wrapper-1 .description {
  margin: 2px 0 .75em;
  color: rgba(255,255,255,.6);
  line-height: 100%;
  }

#homebox .view-empty {  
  }


/* ++ station info ++ */

.view-station-info header,
.view-station-info header a {
  color: #fff;
  }

.view-station-info .horizontal-tabs .ul-horizontal-tabs-list * {
  margin: 0;
  padding: 0;
  }

.view-station-info .horizontal-tabs fieldset.horizontal-tabs-pane {
  font-size: .75em;
  line-height: .9em;
  padding: 0;
  }

.view-station-info .horizontal-tabs,
.view-station-info .horizontal-tabs ul.horizontal-tabs-list, 
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li, 
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li a, 
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.selected a {
  background-color: transparent;
  border: 0 none;
  color: #fff;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li.selected strong {
  color: #fcce00;
  }
.view-station-info .horizontal-tabs strong {
  font-weight: normal;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li {
  width: 40px;
  height: 40px;
  min-width: 40px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #fff;
  }
.view-station-info .horizontal-tabs ul.horizontal-tabs-list li a {
  padding: 2px;
  }

.view-station-info fieldset .fieldset-wrapper {
  display: table;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  }
.view-station-info fieldset .fieldset-wrapper .field {
  display: table-row;
  min-height: 1em;
  margin: 0;
  padding: 0;
  }
.view-station-info fieldset .fieldset-wrapper .field-label {
  display: table-cell;
  width: 40%;
  min-height: 1em;
  padding: 4px 1% 0;
  font-weight: normal;
  }
.view-station-info fieldset .fieldset-wrapper .field-items {
  display: table-cell;
  width: 56%;
  min-height: 1em;
  padding: 4px 1% 0;
  }

.view-station-info fieldset .field:nth-child(even) .field-label,
.view-station-info fieldset .field:nth-child(even) .field-items {
  background-color: rgba(255,255,255,.2);
  }

/* ++ station filter ++ */

#ccis-block-filter-form {
  font-size: .75em;
  }

#ccis-block-filter-form fieldset {
  margin: 0 0 .5em;
  padding: 0;
  border: 1px dashed #fff;
  border-width: 0 0 1px;
  }

#edit-station-input .form-item {
  margin: .25em 0;
  }

#edit-station-input .field-prefix {
  display: block;
  float: left;
  width: 16px;
  height: 17px;
  padding: 4px;
  text-align: center;
  background-color: #fff;
  color: #2c4563;
  font-size: 1.2em;
  line-height: 100%;
  font-weight: bold;
  }

#edit-station-input .form-autocomplete {
  width: 190px;
  border: 0 none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-left: 4px;
  }


#edit-station-input .form-item-searchterm label {
  width: 65px;
  float: left;
  }

#edit-station-input .form-item-searchterm #edit-searchterm {
  width: 150px;
  }

/* ++ data table ++ */

#ccis-weather-datatable-block table {
  width: 100%;
  clear: both;
  margin-bottom: 2em;
  }





/* ++++++++++ Climability-specific ++++++++++ */

